<div class="container">
 <h1>Yo. Sign-up first, and then try to login.</h1>

 <form action='/logout' method='get'>
   <input type="submit" name="logout" value="logout">
  </form>
  <br>
 <form action='/login' method='get'>
   <input type="submit" name="login" value="login">
 </form>
 <br>
 <form action='/signup' method='get'>
   <input type="submit" name="signup" value="sign up">
 </form>


</div>
